# OS X
.DS_Store

# Jekyll build
/_site/
.jekyll-metadata
#Gemfile.lock

# webstorm
.idea/

# others
*.swp
package-lock.json

# site build
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Gemfile.lock
node_modules
### Example user template template
### Example user template

# IntelliJ project files
*.iml
gen
.idea
.gradle